<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-nav></app-nav>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div style="text-align:center" class="header">
        <h1>
          Welcome to {{title}}!
        </h1>
      </div>
      <p>
        Currently we only support java coding questions. The intention is to expand to other question types like
        multiple
        choice and other languages!
      </p>
    </div>
  </div>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="list-group">
          <a href="#" class="list-group-item btn btn-default" *ngFor="let c of questions" (click)="selectQuestion(c)">
            {{c.split("/")[1]}}
          </a>
        </div>
        <div id="problemArea">
          <div id="codingProblem">
            <textarea rows="10" placeholder="Pick a coding problem you want to complete"
                      [(ngModel)]="codeText"></textarea>
            <button type="button" class="btn btn-primary" (click)="answerQuestion()">Submit</button>
          </div>
          <br/>
          <div *ngIf="!!lastAnswer" id="codingResult">
            <table class="table">
              <thead>
              <th>Result</th>
              <th>Your return</th>
              <th>Input</th>
              <th>Expected Output</th>
              <th>stdout</th>
              </thead>
              <tr *ngFor="let result of lastAnswer.results"
                  [ngClass]="{ 'success': result.result == 'SUCCESS', 'danger': result.result !== 'SUCCESS' }">
                <td>{{result.result}}</td>
                <td>{{result.output}}</td>
                <td>{{result.argList.join(', ')}}</td>
                <td>{{result.expected}}</td>
                <td>{{result.prints.join('\n')}}</td>
              </tr>
            </table>
          </div>
          <div *ngIf="answerInProgress">
            <h4>Be patient, we are still running the code.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
